{% extends 'core/base.html' %}

{% block title %}Researches{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl research-container">
        <h2 class="mb-12 text-2xl text-center">My researches</h2>

        <div class="research-top">
            <a href="{% url 'new_research' %}" class="new-research-btn px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">New research</a>
        </div>

        <div class="grid grid-cols-3 gap-3">
            {% for query in past_queries %}
                <a href="{% url 'query_results' query.id %}">View results for Research {{ query.id }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}