{% extends 'core/base.html' %}

{% block title %}Researches{% endblock %}

{% block content %}
<style>
    .bg-accent { background-color: #83c5be; }
    .hover\:bg-accent:hover { background-color: #71a9a1; }
    .bg-main-hover:hover { background-color: #005662; } /* classe per quando passa sopra il mouse */
    /* stili aggiuntivi */
    .research-container {
        background-color: #edf2f4;
        padding-top: 2rem;      /* regolare per aumentare lo spazio sotto il titolo */
        padding-bottom: 2rem;   /* spazio in fondo */
    }
    .new-research-btn {
        margin-left: 2rem;
    }
    .query-box {
        max-width: none;        /* così occupa tutto il container */
        width: calc(100% - 4rem); /* larghezza tot - padding */
        margin: 1rem 2rem; /* margine costante */
    }
</style>

<div class="research-container rounded-xl">
    <h2 class="mb-6 text-2xl text-center">My researches</h2>

    <div class="mb-4">
        <a href="{% url 'new' %}" class="new-research-btn px-6 py-3 text-lg font-semibold bg-accent text-white rounded-xl hover:bg-[#71a9a1]">New research</a>
    </div>

    {% for query in past_queries %}
        <div class="query-box p-4 border border-gray-300 rounded-lg flex justify-between items-center">
            <span class="text-lg">{{ query.name }}</span>
            <div>
                <a href="{% url 'results' query.id %}" class="px-4 py-2 bg-main text-white font-semibold rounded-xl hover:bg-[#005662]">View Results</a>
                <a href="{% url 'edit' query.id %}" class="px-4 py-2 bg-accent text-white font-semibold rounded-xl hover:bg-[#71a9a1]">Edit</a>
                <a href="{% url 'delete' query.id %}" class="px-4 py-2 bg-[#e57373] text-white font-semibold rounded-lg hover:bg-[#ef9a9a]">Delete</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block footer %}
{% endblock %}
