{% extends 'core/base.html' %}

{% block title %}Sign up{%  endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-[#edf2f4] rounded-xl">
        <h1 class="mb-6 text-3xl text-center">Sign up</h1>
        <!-- form per registrarsi gestita tramite http POST -->
        <form method="post" action=".">
            {% csrf_token %}    <!-- sicurezza di django contro attacchi CSRF -->

            <div class="mb-3">
                <label class="inline-block mb-2">Username</label><br>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Email</label><br>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Password</label><br>
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2">Repeat Password</label><br>
                {{ form.password2 }}
            </div>

            <!-- gestione errori -->
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{  field.errors }}
                    {% endfor %}

                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button class="mt-4 px-6 py-3 text-lg font-semibold bg-[#83c5be] text-white rounded-xl hover:bg-[#71a9a1]">Submit</button>
        </form>
    </div>
{%  endblock %}

{% block footer %}
{% endblock %}